:root {
    --fonte-Onest: "Onest", serif;
    --fonte-Tektur: "Tektur", serif;
    --color-principal: #F2F2F2;
    --color-secundaria: #1c001def;
    --color-backgraund: #2b728fd0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative
}


.main-header {
    background-color: var(--color-backgraund);
    min-height: 100vh;
    animation:animacao__entrada 1s 1 alternate ;
    display: none;
}
@keyframes animacao__entrada {
    0%{
        opacity: 0;
    }
}

.main-header::before {
    content: "";
    width: 100%;
    height: 1100px;
    background-color: var(--color-secundaria);
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 58%);
    z-index: 0;
}

.header-sobre .img__devheader{
    width: 400px;
    position: absolute;
    right: 20px;
    top:5%;
    animation: img__devheader__animacao infinite 5s ease-in-out alternate-reverse;
}
@keyframes img__devheader__animacao {
    0%{
        transform: translateY(-10px);
    }
}

.menu-navegation {
    width: 90%;
    margin: 0 auto;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    animation: menu_aminacao__entrada 1s 1 ease-in-out 
}
@keyframes menu_aminacao__entrada {
    0%{
        transform: translateY(-40px);
    }
}
.card-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
}

.card-logo i {
    color: var(--color-principal);
    font-size:large;
}

.card-logo p {
    color: var(--color-principal);
    font-family: var(--fonte-Tektur);
    font-weight: 700;
}

.list-menu {
    display: flex;
    gap: 40px;
    list-style: none;
    font-family: var(--fonte-Onest);
    font-size:.9rem;
    font-weight: 500;
}

.list-menu li {
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    color: var(--color-secundaria);
    scale: .9;
}
.list-menu li:hover{
    color: var(--color-principal);
    scale: 1;
}


.list-menu li:hover::after {
    content: "";
    background-color: var(--color-principal);
    top: 90%;
    left: 0;
    width: 100%;
    height: 2px;
    position: absolute;
    animation: anima-nav-bar 1 1s ease-in-out ;
    cursor: pointer;
}

@keyframes anima-nav-bar {
    0% {
        width: 0%;
    }
}



.btn-cv {
    background-color: var(--color-secundaria);
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 0px 20px 0px 20px;
    color: white;
    font-family: var(--fonte-Onest);
    font-size: .9rem;
    transition: 1s;
}

.btn-cv:hover{
    cursor: pointer;
    background-color:var(--color-backgraund);
    color: var(--color-secundaria);
    border: 1px solid var(--color-secundaria);
    box-shadow: 1px 4px 21px rgba(0, 0, 0, 0.589);
}



/*Estilização do sobre-header (Abaixo do Menu)*/

.header-sobre{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    margin-top: 60px;
    line-height: 55px;
    animation:animacao__sobre 1s 1 ease-in ;
}
@keyframes animacao__sobre {
    0%{
        transform: translateX(-200px);
    }
}

.header-sobre span{
    font-size: 1.4rem;
    font-family: var(--fonte-Tektur);
    font-weight: 700;
}

.header-sobre h1{
    font-size: 6rem;
    font-family: var(--fonte-Tektur);
    font-weight: 900;
    color: var(--color-principal);
}

.header-sobre p{
    font-size: 1.2rem;
    font-family: var(--fonte-Onest);
    margin-top: 10px;
}

/*Estilização dos boteões redes header*/

.btns-redes-sociais{
    height: 50px;
}
.btns-redes-sociais a{
   color: var(--color-principal);
   font-size: 1rem;
   font-family: var(--fonte-Onest);
   margin-right: 40px;
   text-decoration: none;
}

.btns-redes-sociais a:hover{
    color: var(--color-secundaria);
 }

 /*Estilização do BTN sobre*/

 .btn_sobre__conteiner__butao{
    width:160px;
    height: 35px;
    background-color: var(--color-secundaria);
    color: #fff;
    border: none;
    border-radius: 0px 20px 0px 20px;
    margin-top: 40px;
    font-size:.9rem;
    font-family: var(--fonte-Onest);
    transition: 1s;
 }

 .btn_sobre__conteiner__butao:hover{
    background-color: var(--color-backgraund);
    color: var(--color-secundaria);
    border: 1px solid var(--color-secundaria);
    cursor: pointer;
    scale: 1;
    box-shadow: 1px 4px 21px rgba(0, 0, 0, 0.589);
 }

/*---- INICIO DOS MAIN  ------*/

main{
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-principal);
}

main h1{
    font-family: var(--fonte-Tektur);
    font-size: 1.5rem;
    padding-top: 30px;
    margin-left: 70px;
}


/*Estilizaçao do meu footer*/

.footer__container{
    width: 100%;
    height: 50vh;
    background-color: var(--color-principal);
    display: none;
}

.footer_container___contato{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}
.footer_container___contato span{
    color: #420444ef;
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--fonte-Tektur);
    position: relative;
}

.conteiner_dadosfooter{
    width: 80%;
    margin: 0 auto;
    height: 60%;
    display: flex;
    margin-top: 30px;
}

.conteiner_dadosfooter__redessociais{
    width:40%;
    height: 100%;
}

.lista__redes{
    display: flex;
    gap: 40px;
}

.lista__redes li{
    list-style: none;
}

.lista__redes li a i{
    font-size: 1.4rem;
    
    color: var(--color-backgraund);
}
.profissoes__ruan{
    width:60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profissoes__ruan h1{
    font-size: 1.4rem;
    font-family: var(--fonte-Onest);
    font-weight: 600;
}

.profissoes__ruan span{
    font-size: 1.1rem;
    font-family: var(--fonte-Onest);
    padding-top: 5px;
}

article{
    width: 100%;
    height: 80%;
}
.texto__redessociais{
    display: flex;
    flex-direction: column;
}

.texto__redessociais span p{
    font-size: .8rem;
    font-family: var(--fonte-Onest);
    font-weight: 600;
    color: var(--color-backgraund);
}

.texto__redessociais span{
    font-family: var(--fonte-Onest);
    font-size: .8rem;
}

.texto__redessociais span:nth-child(1){
    padding-top: 20px;
}

.conteiner_creditos__footer{
    width: 100%;
    height:10px;
    display: flex;
}
.footer__creditos{
    font-size: .6em;
    text-align: center;
    width: 100%;
    color: #c2c2c2;
}
