:root {
    --fonte-Onest: "Onest", serif;
    --fonte-Tektur: "Tektur", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-header {
    background-color: #f3eeee;
    min-height: 95vh;

}

.menu-navegation {
    width: 90%;
    margin: 0 auto;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
}

.card-logo i {
    color: #107e73;
    font-size: xx-large;
}

.card-logo p {
    color: #107e73;
    font-family: var(--fonte-Tektur);
    font-weight: 700;
}

.list-menu {
    display: flex;
    gap: 100px;
    list-style: none;
    font-family: var(--fonte-Onest);
    font-size: 1.1rem;
    font-weight: 500;
}

.list-menu li {
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
}
.list-menu li:hover{
    color: #107e73;
}


.list-menu li:hover::after {
    content: "";
    background-color: #107e73;
    top: 90%;
    left: 0;
    width: 100%;
    height: 2px;
    position: absolute;
    animation: anima-nav-bar 1 1s ease-in-out;
    cursor: pointer;
}

@keyframes anima-nav-bar {
    0% {
        width: 0%;
    }
}



.btn-cv {
    background-color: #107e73;
    border: none;
    width: 180px;
    height: 50px;
    border-radius: 4px;
    color: white;
    font-family: var(--fonte-Onest);
    font-size: 1.1rem;
}

.btn-cv:hover{
    scale: 1.1;
    transition: .4s;
    cursor: pointer;
    background-color: #f3eeee;
    color: #107e73;
    border: 1px solid #107e73;
}



/*Estilização do sobre-header (Abaixo do Menu)*/

.header-sobre{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    margin-top: 160px;
}


.header-sobre span{
    font-size: 2rem;
    font-family: var(--fonte-Tektur);
    font-weight: 700;
}

.header-sobre h1{
    font-size: 6rem;
    font-family: var(--fonte-Tektur);
    font-weight: 900;
    color: #107e73;
    margin-bottom:30px;
}

.header-sobre p{
    font-size: 1.5rem;
    font-family: var(--fonte-Onest);
}

/*Estilização dos boteões redes header*/

.btns-redes-sociais{
    height: 50px;
    margin-top: 30px;
}
.btns-redes-sociais a{
   color: #107e73;
   font-size: 1.3rem;
   font-family: var(--fonte-Onest);
   margin-right: 30px;
   text-decoration: none;
}

.btns-redes-sociais a:hover{
    cursor: point;
    color: #b1b1b1;
 }


/* ---- INICIO DOS MAIN  ------*/


 /*Estilização do artigo Sobre*/

 main article{
    background-color: #107e73;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--fonte-Onest);
    font-size: 2rem;
    font-weight: 700;
 }

 main article p{
    padding: 0px 20px;
 }

 main article .bi-arrow-bar-down{
    padding: 0px 20px;
    animation: arrow-seta infinite 1s ease-in-out alternate-reverse;
 }

 @keyframes arrow-seta {
    0%{
        transform: translateY(-5px);
    }
 }